:root {
  --primary: #007acc;
  --background: #f5f5f5;
  --post: #11cc00;
  --put: #a300cc;
  --delete: #cc0044;
  --text: #222;
  --code-bg: #eee;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: var(--primary);
}
      
.endpoint {
  background: white;
  border-left: 5px solid var(--primary);
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.endpoint-get{
  border-left: 5px solid var(--primary);
}

.endpoint-post{
  border-left: 5px solid var(--post);
}

.endpoint-put{
  border-left: 5px solid var(--put)
}

.endpoint-delete{
  border-left: 5px solid var(--delete);
}

.method {
  font-weight: bold;
  color: white;
  background: var(--primary);
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 0.9rem;
}

.path {
  font-family: monospace;
  background: #e0e0e0;
  padding: 2px 6px;
  border-radius: 3px;
}

pre {
  background: var(--code-bg);
  padding: 1rem;
  overflow-x: auto;
  border-radius: 4px;
  margin-top: 0.5rem;
}

h2 {
  margin-top: 0;
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }
}

.center {
  text-align: center;
}
      
.get {
  background-color: var(--primary);
}

.delete {
  background-color: var(--delete);
}

.put {
  background-color: var(--put);
}

.post {
  background-color: var(--post);
}

